@using System
@using System.Collections.Generic
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Dataset
@using Newtonsoft.Json

<h2>Simple Bar Chart</h2>
<div class="row">
    <button class="btn btn-primary" @onclick="UpdateChart">Update Chart</button>
</div>
<ChartJsBarChart @ref="_barChart"
                 Config="@BarChartConfig"
                 Width="600"
                 Height="300" />

<DataDisplayComponent OnUpdatedDataStr="@OnDataStrChange" 
                      @bind-DataStr="@DataStr" Width="600" Height="300" />

@code {

    private BarChartConfig BarChartConfig { get; set; }
    private ChartJsBarChart _barChart;

    string DataStr
    {
        get => JsonConvert.SerializeObject(BarChartConfig.Data, Formatting.Indented);
        set
        {
            BarChartConfig.Data = JsonConvert.DeserializeObject<BarChartData>(value);
            Console.WriteLine(JsonConvert.SerializeObject(BarChartConfig.Data.Datasets));
        }
    }

    void OnDataStrChange(string dataStr)
    {
        BarChartConfig.Data = JsonConvert.DeserializeObject<BarChartData>(dataStr);
        _barChart.Update();
    }

    protected override void OnInitialized()
    {
        BarChartConfig = BarChartConfig ?? new BarChartConfig
        {
            CanvasId = "myBarChartCanvas",
            Options = new BarChartOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true
            },
            Data = new BarChartData
            {
                Labels = new List<string> { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" },
                Datasets = new List<BaseBarChartDataset>
        {
                    new BarChartDataset
                    {
                        Label = "1'st dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {19, 12, 5, 3, 3, 2}
                    },
                    new BarChartDataset
                    {
                        Label = "2'nd dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {30, 10, 15, 13, 13, 12}
                    }
                }
            }
        };
    }

    private void UpdateChart()
    {
        //Update existing dataset
        BarChartConfig.Data.Labels.Add($"{DateTime.Now.Second}");
        BarChartConfig.Data.Datasets.ForEach(dataset => { dataset.Data.Add(DateTime.Now.Second); });
    }

}